<div class="header">
  <img src="assets/images/image3.png" alt="USCLC Logo" class="logo" />
  <button class="logout" (click)="logout()">LOG OUT</button>
</div>

<div class="dashboard">
  <div class="sidebar">
    <nav class="sidenav">
      <a (click)="setSection('dashboard')" [class.active]="activeSection === 'dashboard'">Dashboard</a>
      <a  *ngIf="canAccessAdmins()" (click)="setSection('admins')" [class.active]="activeSection === 'admins'">Admins</a>
      <a (click)="setSection('clients')" [class.active]="activeSection === 'clients'">Clients</a>
      <a (click)="setSection('transactions')" [class.active]="activeSection === 'transactions'">Transactions</a>
      <a (click)="setSection('transactions-history')" [class.active]="activeSection === 'transactions-history'">Transactions History</a>
    </nav>
  </div>

  <div class="content">

  <!-- Dashboard Section -->
  <div *ngIf="activeSection === 'dashboard'" class="section full-width">
    <h2 style="font-size: 20px;">DASHBOARD OVERVIEW</h2>
    <div class="table-wrapper">

      <div class="chart-row">
        <div class="chart-box">
          <h3 style="font-size: 16px;">Clients</h3>
          <div echarts [options]="userChartOptions" class="chart-container"></div>
        </div>
        
        <div class="chart-box">
          <h3 style="font-size: 16px;">Transactions</h3>
          <div echarts [options]="transactionChartOptions" class="chart-container"></div>
        </div>
      </div>
    </div>
  </div>




    <!-- Admins Section -->
    <div *ngIf="activeSection === 'admins' && canAccessAdmins()" class="section full-width">
      <div class="admin-header">
        <h2>ADMINS</h2>
        <button class="register-button" (click)="openRegisterModal()">Register Admin</button>
      </div>

        <div class="table-wrapper">
          <table class="admin-table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Date Created</th>
              </tr>
            </thead>
            <tbody>
          <tr *ngFor="let admin of admins" (dblclick)="onAdminRowDoubleClick(admin)" class="clickable-row">
                <td>{{ admin.username }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.created_at | date: 'short' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      <div class="pagination-controls">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>

     <!-- Register Admin Modal -->
    <div class="modal-overlay" *ngIf="showRegisterModal">
        <div class="custom-modal">
          <h2 class="modal-title">Register Admin</h2>

          <div class="modal-group">
            <label>Username:</label>
            <input [(ngModel)]="newAdmin.username" name="username" class="modal-input" required />
          </div>

          <div class="modal-group">
            <label>Email:</label>
            <input [(ngModel)]="newAdmin.email" name="email" type="email" class="modal-input" required />
          </div>

          <div class="modal-group">
            <label>Password:</label>
            <input [(ngModel)]="newAdmin.password" name="password" type="password" class="modal-input" required />
          </div>

          <div class="modal-group">
            <label>Role:</label>
            <div class="role-options">
              <label>
                <input type="radio" name="role" [(ngModel)]="newAdminRole" value="isAdmin" /> Admin
              </label>
              <label>
                <input type="radio" name="role" [(ngModel)]="newAdminRole" value="isSuperAdmin" /> Super Admin
              </label>
              <label>
                <input type="radio" name="role" [(ngModel)]="newAdminRole" value="isDemo" /> Demo
              </label>
            </div>
          </div>

          <div class="modal-buttons">
            <button class="modal-btn create" (click)="isDemoAccount ? onDemoFeatureAttempt() : registerAdmin()" >Register</button>
            <button class="modal-btn cancel" (click)="closeRegisterModal()">Cancel</button>
          </div>
        </div>
      </div>


    <!-- Update Admin Modal -->
    <div class="modal-overlay" *ngIf="showUpdateAdminModal">
      <div class="custom-modal">
        <h2 class="modal-title">Update Admin</h2>

        <div class="modal-group">
          <label>Username:</label>
          <input [(ngModel)]="selectedAdmin.username" type="text" class="modal-input" />
        </div>

        <div class="modal-group">
          <label>Email:</label>
          <input [(ngModel)]="selectedAdmin.email" type="email" class="modal-input" />
        </div>

        <div class="modal-buttons">
          <button class="modal-btn create" (click)="isDemoAccount ? onDemoFeatureAttempt() : updateAdmin()">Update</button>
          <button class="modal-btn cancel" (click)="closeUpdateAdminModal()">Cancel</button>
          <button class="modal-btn delete" (click)="onDeleteAdmin(selectedAdmin.admin_id, $event)">Delete</button>
        </div>
      </div>
    </div>



    <!-- Clients Section -->
    <div *ngIf="activeSection === 'clients'" class="section full-width">
      <div class="admin-header">
          <h2>CLIENTS</h2>
          <button class="register-button" (click)="openClientModal()">Add Client</button>
      </div>
      <div class="table-wrapper">
        <table class="admin-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Status</th>
              <th>Date Created</th>
            </tr>
          </thead>
          <tbody>
        <tr *ngFor="let client of clients" (dblclick)="onClientRowDoubleClick(client)"  class="clickable-row">
              <td>{{ client.clientName }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.status }}</td>
              <td>{{ client.created_at | date: 'short' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pagination-controls">
        <button (click)="prevClientPage()" [disabled]="currentClientPage === 1">Prev</button>
        <span>Page {{ currentClientPage }} of {{ totalClientPages }}</span>
        <button (click)="nextClientPage()" [disabled]="currentClientPage === totalClientPages">Next</button>
      </div>
    </div>

    <!-- Add Client Modal -->
    <div class="modal-overlay" *ngIf="showClientModal">
      <div class="custom-modal">
        <h2 class="modal-title">Add New Client</h2>

        <div class="modal-group">
          <label>Name:</label>
          <input [(ngModel)]="newClient.clientName" type="text" class="modal-input" required />
        </div>

        <div class="modal-group">
          <label>Email:</label>
          <input [(ngModel)]="newClient.email" type="email" class="modal-input" required />
        </div>

        <div class="modal-group">
          <label>Status:</label>
          <select [(ngModel)]="newClient.isActive" class="modal-input">
            <option [ngValue]="true">Active</option>
            <option [ngValue]="false">Inactive</option>
          </select>
        </div>

        <div class="modal-buttons">
          <button class="modal-btn create" (click)="isDemoAccount ? onDemoFeatureAttempt() : addClient()">Submit</button>
          <button class="modal-btn cancel" (click)="closeClientModal()">Cancel</button>
        </div>
      </div>
    </div>


    <!-- Update Client Modal -->
  <div class="modal-overlay" *ngIf="showUpdateClientModal">
    <div class="custom-modal">
      <h2 class="modal-title">Update Client</h2>

      <div class="modal-group">
        <label>Name:</label>
        <input [(ngModel)]="selectedClient.clientName" type="text" class="modal-input" />
      </div>

      <div class="modal-group">
        <label>Email:</label>
        <input [(ngModel)]="selectedClient.email" type="email" class="modal-input" />
      </div>

      <div class="modal-group">
        <label>Status:</label>
        <select [(ngModel)]="selectedClient.isActive" class="modal-input">
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Inactive</option>
        </select>
      </div>

      <div class="modal-buttons">
        <button class="modal-btn create" (click)="isDemoAccount ? onDemoFeatureAttempt() : updateClient()">Update</button>
        <button class="modal-btn cancel" (click)="closeUpdateClientModal()">Cancel</button>
        <button class="modal-btn delete" (click)="onDeleteClient(selectedClient.clientId, $event)">Delete</button>
      </div>
    </div>
  </div>




   <!-- Transactions Section -->
<div *ngIf="activeSection === 'transactions'" class="section full-width">
   <div class="admin-header">
     <h2>TRANSACTIONS</h2>
     <button class="register-button" (click)="openTransactionModal()"> Create New Transaction</button>
   </div>
  <div class="table-wrapper">

    <table class="admin-table">
      <thead>
        <tr>
          <th>Tracking Id</th>
          <th>Description</th>
          <th>Client</th>
          <th>Tracking Message</th>
          <th>Status</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions" (dblclick)="onTransactionRowDoubleClick(transaction)" class="clickable-row">
          <td class="tracking-id-cell">
            <span>{{ transaction.trackingId }}</span>
            <button (click)="copyTrackingId(transaction.trackingId.toString())" class="copy-icon-btn" title="Copy">
              <i class="fa-regular fa-copy"></i>
            </button>
          </td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.clientName }}</td>
          <td>{{ transaction.trackingMessage }}</td>
          <td>{{ transaction.statusName }}</td>
          <td>{{ transaction.created_at | date: 'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-controls">
    <button (click)="prevTransactionPage()" [disabled]="currentTransactionPage === 1">Prev</button>
    <span>Page {{ currentTransactionPage }} of {{ totalTransactionPages }}</span>
    <button (click)="nextTransactionPage()" [disabled]="currentTransactionPage === totalTransactionPages">Next</button>
  </div>
</div>

<div class="modal-overlay" *ngIf="showTransactionModal">
  <div class="custom-modal">
    <h2 class="modal-title">Create New Transaction</h2>

    <div class="modal-group">
      <label>Description:</label>
      <textarea rows="3" [(ngModel)]="newTransaction.description" class="modal-input"></textarea>
    </div>

    <div class="modal-group">
      <label>Client:</label>
      <select [(ngModel)]="newTransaction.clientId" class="modal-input">
        <option *ngFor="let client of clients" [ngValue]="client.clientId">
          {{ client.clientName }}
        </option>
      </select>
    </div>

    <div class="modal-group">
      <label>Message:</label>
      <input type="text" [(ngModel)]="newTransaction.trackingMessage" class="modal-input" />
    </div>

    <div class="modal-group">
      <label>Status:</label>
      <select [(ngModel)]="newTransaction.trackingStatusId" class="modal-input">
        <option *ngFor="let status of statusOptions" [ngValue]="status.id">
          {{ status.name }}
        </option>
      </select>
    </div>

    <div class="modal-buttons">
      <button class="modal-btn create" (click)="isDemoAccount ? onDemoFeatureAttempt() : addTransaction()">Create</button>
      <button class="modal-btn cancel" (click)="closeTransactionModal()">Cancel</button>
    </div>
  </div>
</div>


<!-- Update Transaction Modal -->
  <div class="modal-overlay" *ngIf="showUpdateTransactionModal">
    <div class="custom-modal">
      <h2 class="modal-title">Update Transaction</h2>

      <div class="modal-group">
        <label>Description:</label>
        <textarea rows="3" [(ngModel)]="selectedTransaction.description" class="modal-input"></textarea>
      </div>

      <div class="modal-group">
        <label>Client:</label>
        <select [(ngModel)]="selectedTransaction.clientId" class="modal-input">
          <option *ngFor="let client of clients" [ngValue]="client.clientId">
            {{ client.clientName }}
          </option>
        </select>
      </div>

      <div class="modal-group">
        <label>Message:</label>
        <input type="text" [(ngModel)]="selectedTransaction.trackingMessage" class="modal-input" />
      </div>

      <div class="modal-group">
        <label>Status:</label>
        <select [(ngModel)]="selectedTransaction.trackingStatusId" class="modal-input">
          <option [ngValue]="1">Pending</option>
          <option [ngValue]="2">Ongoing</option>
          <option [ngValue]="3">Finished</option>
        </select>
      </div>

      <div class="modal-buttons">
        <button class="modal-btn create" (click)="isDemoAccount ? onDemoFeatureAttempt() : updateTransaction()">Update</button>
        <button class="modal-btn cancel" (click)="closeUpdateTransactionModal()">Cancel</button>
        <button class="modal-btn delete" (click)="onDeleteTransaction(selectedTransaction.trackingId, $event)">Delete</button>
      </div>
    </div>
  </div>

  
 <!-- Transactions History -->
<div *ngIf="activeSection === 'transactions-history'" class="section full-width">
  <h2 style="font-size: 20px;">TRANSACTIONS HISTORY</h2>
  <div class="filter-section">
    <label for="clientName">Filter by Client Name:</label>
    <input
      type="text"
      id="clientName"
      [(ngModel)]="filterClientName"
      placeholder="Enter client name"
    />
    <button (click)="loadTransactionHistory(1)">Search</button>
  </div>

  <div class="table-wrapper">
      <table class="admin-table">
      <thead>
        <tr>
          <th>Tracking ID</th>
          <th>Description</th>
          <th>Client</th>
          <th>Message</th>
          <th>Status</th>
          <th>Date Created</th>
          <th>Changed At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of transactionsHistory">
          <td class="tracking-id-cell">
            <span>{{ history.trackingId }}</span>
            <button (click)="onDeleteTransactionHistory(history.trackingId)" class="delete-icon-btn" title="Delete">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
          <td>{{ history.description }}</td>
          <td>{{ history.clientName }}</td>
          <td>{{ history.trackingMessage }}</td>
          <td>{{ history.statusName }}</td>
          <td>{{ history.created_at | date: 'short' }}</td>
          <td>{{ history.changed_at | date: 'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-controls">
    <button (click)="prevHistoryPage()" [disabled]="currentHistoryPage === 1">Prev</button>
    <span>Page {{ currentHistoryPage }} of {{ totalHistoryPages }}</span>
    <button (click)="nextHistoryPage()" [disabled]="currentHistoryPage === totalHistoryPages">Next</button>
  </div>
</div>


<!-- Confirmation Modal -->
<div *ngIf="showConfirmModal" class="confirm-modal-backdrop">
  <div class="confirm-modal">
    <h3 class="confirm-modal-title">Confirm Delete</h3>
    <p>{{ confirmMessage }}</p>
    <div class="confirm-modal-actions">
      <button (click)="isDemoAccount ? onDemoFeatureAttempt() : confirmAction()" class="confirm-btn confirm-btn-danger">Yes, Delete</button>
      <button (click)="closeConfirmModal()" class="confirm-btn confirm-btn-secondary">Cancel</button>
    </div>
  </div>
</div>


