<div class="fullscreen-loader" *ngIf="loading">
  <span class="loader"></span>
</div>

<div>
  <div class="header">
    <img src="assets/images/image3.png" alt="USCLC Logo" class="logo" (click)="navigateToHome()" />
    <button class="track-button" (click)="navigateToTransactions()">TRACK NOW!</button>
  </div>

  <div class="main">
    <div class="container">
      <img src="assets/images/image6.png" alt="Character" class="character" />

      <div class="login-circle">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <i class="fas fa-user icon"></i>
            <input formControlName="username" placeholder="Username" />
          </div>

          <div class="input-group">
            <i class="fas fa-lock icon"></i>
            <input type="password" formControlName="password" placeholder="Password" />
          </div>

          <button type="submit" class="login-button" [disabled]="loading">
              LOGIN <i class="fas fa-arrow-right arrow"></i>
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
